body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.checkbox-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-area label{
    font-size: 14px;
    margin-left: 3px;
}

.para {
    margin-top: 20px;
    font-size: 13px;
}

.para a {
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
}